<p class="usernames">
  {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}"><i class="github"></i></a>
  {% endif %}
  {% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username }}"><i class="twitter"></i></a>
  {% endif %}
  {% if site.linkedin_username %}
    <a href="https://linkedin.com/{{ site.linkedin_username }}"><i class="linkedin"></i></a>
  {% endif %}
  {% if site.email %}
    <a class="email" href="mailto:{{ site.email }}">{{ site.email }}</a>
  {% endif %}
</p>
