<header class="ui-header">
  <div class="wrapper">
    <div class="intro">
      <div class="image">
        <div class="background"></div>
      </div>
      <h1>I live to create in many mediums</h1>
    </div>
    <nav>
      <ul>
        {% for item in site.data.nav.links %}
          <li class="{% if item.url == page.url %}active{% endif %}">
            <a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
