%body-sub-header {
  letter-spacing: .05em;
  color: $color-gray-dark;
  font-weight: 300;
  margin: .5em 0 .25em;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-sans-family;
  color: $color-text;
  font-weight: 300;
}

h1 {
  letter-spacing: .05em;
  font-size: 1.75em;
  font-family: $font-serif-family;
  margin: 0 0 .15em 0;
}

h2 {
  @extend %body-sub-header;
  font-size: 1.35em;
}

h3 {
  @extend %body-sub-header;
  font-size: 1.15em;
}

p {
  margin: .5em 0;
}

a {
  text-decoration: none;
  transition: color 0.2s;
  color: $color-text;

  &:active,
  &:visited {
    color: $color-text;
  }
}

figure {
  margin: 1em 0;

  &.highlight {

    pre {
      font-size: .9em;
      border: 1px solid $color-border;
      background-color: $color-gray-white;
      padding: 1em;
      overflow: auto;
      border-radius: $layout-border-radius;
    }
  }
}

article {

  header {
    margin-bottom: 1.5em;

    .info {
      margin-top: 0;
    }

    category {
      text-transform: capitalize;

      &:before {
        content: "/ ";
        color: $color-seperator;
        padding: 0 .25em;
      }
    }
  }
}

category,
time {
  font-size: .8em;
  color: $color-gray;
  font-weight: 300;
}
